* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: relative;
    background-color: rgb(57, 56, 56);
    border-bottom: 1px solid;
}

.icon {
    margin-left: 10px;
    color: rgb(248, 248, 231);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links * {
    padding: 10px;
    color: rgb(248, 248, 231);
    text-decoration: none;
}

.links *:hover {
    text-decoration: underline;
    color: white;
}

/* Home */
.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-container * {
    max-width: 200px;
}

/* forms */
.parent-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 30vh;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
}

.form-container label {
    text-align: left;
}

.form-container input {
    width: 90%;
    height: 15%;
    margin-bottom: 2%;
}

.form-container button {
    width: 50%;
    height: 20%;
    margin-bottom: 10px;
}



/* deck */
.deck-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.deck-items {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    min-height: 10vh;
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
}

.deck-items * {
    width: 50%;
    padding-left: 10px;
    
}