:root {
    --font-color: rgb(255, 255, 225);
    --main-color: rgb(54, 51, 51);
    --secondary-color: rgb(82, 79, 79);
    --border-color: rgb(128, 127, 127);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
}

/* 
 * Navbar
 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: relative;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border-color);
}

.icon {
    margin-left: 10px;
    color: var(--font-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links * {
    padding: 10px;
    color: var(--font-color);
    text-decoration: none;
}

.links *:hover {
    text-decoration: underline;
    color: white;
}

/*
 * pages
 */
.home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-page * {
    max-width: 200px;
}

.my-collections-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-form-container {
    position: static;
    width: 400px;
    min-width: 400px;
    height: 250px;
    margin: 20px;

    
}

.parent-collection-container {
    width: 1000px;
    min-width: 600px;
    height: 600px;
    margin: 20px 0 20px 0;
    overflow-y: scroll;
}

/* 
 * forms
 */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.form-container label {
    color: var(--font-color);
    font-size: 1em;
}

.form-container .name-input {
    width: 80%;
    height: 10%;
    border-style: none;
    border-radius: 2px;
    outline: none;
    background-color: var(--font-color);
}

.form-container .description-input {
    width: 80%;
    height: 20%;
    border-style: none;
    border-radius: 2px;
    outline: none;
    background-color: var(--font-color);
}

.form-container button {
    width: 40%;
    height: 12%;
    border-style: none;
    border-radius: 2px;
    background-color: rgb(210, 62, 62);
    color: var(--font-color);
    box-shadow: 0 2px 2px rgb(54, 10, 10);
    
}

.form-container button:hover {
    background-color: rgb(160, 47, 47);
}

/* 
 * collection
 */
.collection-details-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    color: var(--font-color);
    background-color: var(--main-color);
}

.collection-details-table * {
    display: flex;
    justify-content: left;
    align-items: last baseline;
    width: 25%;
    height: 100%;
    padding-left: 5px;
    border: 1px solid var(--border-color);

}

.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    margin-top: 1%;
    background-color: var(--main-color);
}

.item-name {
    width: 200px;
    height: 94px;
    border-radius: 2px;
    background-color: rgb(210, 62, 62);
}

.item-name h4 {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid rgb(248, 248, 231);
    color: var(--font-color);
    background-color: var(--main-color);
    
}

.item-name p {
    font-size: 20px;
    text-align: left;
    font-style: none;
    box-sizing: border-box;
    padding: 5px;
}

.item-description {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}